{% extends '::base.html.twig' %}
{% block title %}My contact{% endblock %}
{% block body %}
    <section class="container show-persons">
        {% for person in persons %}
            <div class="row">
                <div class="col-md-8">
                    <a href="{{ path('contacts_person_show',{'id':person.id}) }}">{{ person.name }} {{ person.surname }}</a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('contacts_person_edit',{'id':person.id}) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ path('contacts_person_delete',{'id':person.id}) }}" class="btn btn-danger">Remove</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}